In [1]:
import pandas as pd

In [7]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0        The Last Mimzy  2007
1  The Fighting Sheriff  1925
2     Giftes - nej tak!  1936
3             Sourdough  1981
4        A Time to Kill  1955

## 1. Using groupby(), plot the number of films that have been released each decade in the history of cinema.

## 2. Use `groupby()` to plot the number of 'Hamlet' movies made each decade.

## 3. For each decade, plot all movies of which the title contains "Hamlet".

## 4. List the 10 actors/actresses that have the most leading roles (n=1) since the 1990's.

## 5. In a previous exercise, the number of 'Hamlet' films released each decade was checked. Not all titles are exactly called 'Hamlet'. Give an overview of the titles that contain 'Hamlet' and an overview of the titles that start with 'Hamlet', each time providing the amount of occurrences in the data set for each of the movies

## 6. List the 10 movie titles with the longest name.

## 7. How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

## 8. What are the 11 most common character names in movie history?

## 9. Plot how many roles Brad Pitt has played in each year of his career.

## 10. What are the 10 most occurring movie titles that start with the words 'The Life'?

## 11. Which actors or actresses were most active in the year 2010 (i.e. appeared in the most movies)?

## 12. Determine how many roles are listed for each of 'The Pink Panther' movies.

## 13. List, in order by year, each of the movies in which 'Frank Oz' has played more than 1 role.

## 14. List each of the characters that Frank Oz has portrayed at least twice.

## 15. Calculate the ratio of leading actor and actress roles to the total number of leading roles per decade.

## 16. In which years the most films were released?

## 17. How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s? And in 2000s?

## Write Commnets